.apollo-theme {
        $neutral-kohle: #2f3132;
$neutral-cemento: #697172;
$neutral-acier: #c3c6c8;
$neutral-grigio: #e1e2e3;
$neutral-marin: #f4f4f4;
$logitech-azzurro: #00B8FC;
$logitech-ciano: #00EAD0;
$logitech-kirsche: #ff2947;
$logitech-lila: #814efa;
$logitech-electrico: #Dcfd00;
$logitech-helios: #ff7f2c;
$ergo-azzurro-20: #F2FAFE;
$ergo-azzurro-100: #bee7fb;
$ergo-ciano-20: #ECFBFA;
$ergo-ciano-100: #9EEBE4;
$ergo-kirsche-20: #FEF1F2;
$ergo-kirsche-100: #FAB7BF;
$ergo-lila-20: #F8F4FF;
$ergo-lila-100: #b68eff;
$ergo-electrico-20: #FCFEEE;
$ergo-electrico-100: #eff8a9;
$ergo-helios-20: #FCEFE6;
$ergo-helios-100: #f1ae83;
$lfc-citra: #FF5000;
$lfc-cosmic: #5064FF;
$lfc-cherry: #691950;
$lfc-clay: #E6DCCD;
      }