.apollo-theme {
        $neutral-kohle: #2f3132;
$neutral-cemento: #697172;
$neutral-acier: #c3c6c8;
$neutral-grigio: #e1e2e3;
$neutral-marin: #f4f4f4;
$logitech-azzurro: #00B8FC;
$logitech-ciano: #00EAD0;
$logitech-kirsche: #ff2947;
$logitech-lila: #814efa;
$logitech-electrico: #Dcfd00;
$logitech-helios: #ff7f2c;
$ergo-azzurro-20: #F2FAFE;
$ergo-azzurro-100: #bee7fb;
$ergo-ciano-20: #ECFBFA;
$ergo-ciano-100: #9EEBE4;
$ergo-kirsche-20: #FEF1F2;
$ergo-kirsche-100: #FAB7BF;
$ergo-lila-20: #F8F4FF;
$ergo-lila-100: #b68eff;
$ergo-electrico-20: #FCFEEE;
$ergo-electrico-100: #eff8a9;
$ergo-helios-20: #FCEFE6;
$ergo-helios-100: #f1ae83;
$lfc-citra: #FF5000;
$lfc-cosmic: #5064FF;
$lfc-cherry: #691950;
$lfc-clay: #E6DCCD;
$font-families-brownpro: brown, helvetica, arial, sans-serif;
$line-heights-0: 90;
$line-heights-1: 40;
$line-heights-2: 72;
$line-heights-3: 36;
$line-heights-4: 60;
$line-heights-5: 48;
$line-heights-6: 32;
$line-heights-7: 26;
$line-heights-8: 24;
$line-heights-9: 20;
$line-heights-10: 38;
$line-heights-11: 30;
$line-heights-12: 22;
$line-heights-13: 18;
$line-heights-14: 8;
$font-weights-brownpro-0: undefined;
$font-weights-brownpro-1: undefined;
$font-weights-brownpro-2: undefined;
$font-weights-brownpro-3: undefined;
$font-weights-brownpro-4: undefined;
$font-weights-brownpro-5: undefined;
$font-size-0: 13px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 20px;
$font-size-5: 24px;
$font-size-6: 30px;
$font-size-7: 36px;
$font-size-8: 40px;
$font-size-9: 48px;
$font-size-10: 60px;
$font-size-11: 72px;
$font-size-12: 90px;
$letter-spacing-0: -1%;
$letter-spacing-1: 0%;
$paragraph-spacing-0: 0px;
$marquee-desktop-font-family: BrownPro;
$marquee-desktop-font-weight: 700;
$marquee-desktop-line-height: 90px;
$marquee-desktop-font-size: 90px;
$marquee-desktop-letter-spacing: -1%;
$marquee-desktop-paragraph-spacing: 0px;
$marquee-desktop-text-case: uppercase;
$marquee-desktop-text-decoration: none;
$marquee-tablet-font-family: BrownPro;
$marquee-tablet-font-weight: 700;
$marquee-tablet-line-height: 90px;
$marquee-tablet-font-size: 90px;
$marquee-tablet-letter-spacing: -1%;
$marquee-tablet-paragraph-spacing: 0px;
$marquee-tablet-text-case: uppercase;
$marquee-tablet-text-decoration: none;
$marquee-mobile-font-family: BrownPro;
$marquee-mobile-font-weight: 700;
$marquee-mobile-line-height: 40px;
$marquee-mobile-font-size: 40px;
$marquee-mobile-letter-spacing: -1%;
$marquee-mobile-paragraph-spacing: 0px;
$marquee-mobile-text-case: uppercase;
$marquee-mobile-text-decoration: none;
$hero-large-desktop-font-family: BrownPro;
$hero-large-desktop-font-weight: 700;
$hero-large-desktop-line-height: 72px;
$hero-large-desktop-font-size: 72px;
$hero-large-desktop-letter-spacing: -1%;
$hero-large-desktop-paragraph-spacing: 0px;
$hero-large-desktop-text-case: uppercase;
$hero-large-desktop-text-decoration: none;
$hero-large-tablet-font-family: BrownPro;
$hero-large-tablet-font-weight: 700;
$hero-large-tablet-line-height: 72px;
$hero-large-tablet-font-size: 72px;
$hero-large-tablet-letter-spacing: -1%;
$hero-large-tablet-paragraph-spacing: 0px;
$hero-large-tablet-text-case: uppercase;
$hero-large-tablet-text-decoration: none;
$hero-large-mobile-font-family: BrownPro;
$hero-large-mobile-font-weight: 700;
$hero-large-mobile-line-height: 36px;
$hero-large-mobile-font-size: 36px;
$hero-large-mobile-letter-spacing: -1%;
$hero-large-mobile-paragraph-spacing: 0px;
$hero-large-mobile-text-case: uppercase;
$hero-large-mobile-text-decoration: none;
$hero-medium-desktop-font-family: BrownPro;
$hero-medium-desktop-font-weight: 700;
$hero-medium-desktop-line-height: 60px;
$hero-medium-desktop-font-size: 60px;
$hero-medium-desktop-letter-spacing: -1%;
$hero-medium-desktop-paragraph-spacing: 0px;
$hero-medium-desktop-text-case: uppercase;
$hero-medium-desktop-text-decoration: none;
$hero-medium-tablet-font-family: BrownPro;
$hero-medium-tablet-font-weight: 700;
$hero-medium-tablet-line-height: 60px;
$hero-medium-tablet-font-size: 60px;
$hero-medium-tablet-letter-spacing: -1%;
$hero-medium-tablet-paragraph-spacing: 0px;
$hero-medium-tablet-text-case: uppercase;
$hero-medium-tablet-text-decoration: none;
$hero-medium-mobile-font-family: BrownPro;
$hero-medium-mobile-font-weight: 700;
$hero-medium-mobile-line-height: 36px;
$hero-medium-mobile-font-size: 36px;
$hero-medium-mobile-letter-spacing: -1%;
$hero-medium-mobile-paragraph-spacing: 0px;
$hero-medium-mobile-text-case: uppercase;
$hero-medium-mobile-text-decoration: none;
$hero-small-desktop-font-family: BrownPro;
$hero-small-desktop-font-weight: 700;
$hero-small-desktop-line-height: 48px;
$hero-small-desktop-font-size: 48px;
$hero-small-desktop-letter-spacing: -1%;
$hero-small-desktop-paragraph-spacing: 0px;
$hero-small-desktop-text-case: uppercase;
$hero-small-desktop-text-decoration: none;
$hero-small-tablet-font-family: BrownPro;
$hero-small-tablet-font-weight: 700;
$hero-small-tablet-line-height: 48px;
$hero-small-tablet-font-size: 48px;
$hero-small-tablet-letter-spacing: -1%;
$hero-small-tablet-paragraph-spacing: 0px;
$hero-small-tablet-text-case: uppercase;
$hero-small-tablet-text-decoration: none;
$hero-small-mobile-font-family: BrownPro;
$hero-small-mobile-font-weight: 700;
$hero-small-mobile-line-height: 32px;
$hero-small-mobile-font-size: 30px;
$hero-small-mobile-letter-spacing: 0%;
$hero-small-mobile-paragraph-spacing: 0px;
$hero-small-mobile-text-case: uppercase;
$hero-small-mobile-text-decoration: none;
$title-large-desktop-font-family: BrownPro;
$title-large-desktop-font-weight: 700;
$title-large-desktop-line-height: 36px;
$title-large-desktop-font-size: 36px;
$title-large-desktop-letter-spacing: -1%;
$title-large-desktop-paragraph-spacing: 0px;
$title-large-desktop-text-case: uppercase;
$title-large-desktop-text-decoration: none;
$title-large-tablet-font-family: BrownPro;
$title-large-tablet-font-weight: 700;
$title-large-tablet-line-height: 36px;
$title-large-tablet-font-size: 36px;
$title-large-tablet-letter-spacing: -1%;
$title-large-tablet-paragraph-spacing: 0px;
$title-large-tablet-text-case: uppercase;
$title-large-tablet-text-decoration: none;
$title-large-mobile-font-family: BrownPro;
$title-large-mobile-font-weight: 700;
$title-large-mobile-line-height: 32px;
$title-large-mobile-font-size: 30px;
$title-large-mobile-letter-spacing: 0%;
$title-large-mobile-paragraph-spacing: 0px;
$title-large-mobile-text-case: uppercase;
$title-large-mobile-text-decoration: none;
$title-medium-desktop-font-family: BrownPro;
$title-medium-desktop-font-weight: 700;
$title-medium-desktop-line-height: 32px;
$title-medium-desktop-font-size: 30px;
$title-medium-desktop-letter-spacing: 0%;
$title-medium-desktop-paragraph-spacing: 0px;
$title-medium-desktop-text-case: uppercase;
$title-medium-desktop-text-decoration: none;
$title-medium-tablet-font-family: BrownPro;
$title-medium-tablet-font-weight: 700;
$title-medium-tablet-line-height: 32px;
$title-medium-tablet-font-size: 30px;
$title-medium-tablet-letter-spacing: 0%;
$title-medium-tablet-paragraph-spacing: 0px;
$title-medium-tablet-text-case: uppercase;
$title-medium-tablet-text-decoration: none;
$title-medium-mobile-font-family: BrownPro;
$title-medium-mobile-font-weight: 700;
$title-medium-mobile-line-height: 26px;
$title-medium-mobile-font-size: 24px;
$title-medium-mobile-letter-spacing: 0%;
$title-medium-mobile-paragraph-spacing: 0px;
$title-medium-mobile-text-case: uppercase;
$title-medium-mobile-text-decoration: none;
$title-small-desktop-font-family: BrownPro;
$title-small-desktop-font-weight: 700;
$title-small-desktop-line-height: 26px;
$title-small-desktop-font-size: 24px;
$title-small-desktop-letter-spacing: 0%;
$title-small-desktop-paragraph-spacing: 0px;
$title-small-desktop-text-case: uppercase;
$title-small-desktop-text-decoration: none;
$title-small-tablet-font-family: BrownPro;
$title-small-tablet-font-weight: 700;
$title-small-tablet-line-height: 26px;
$title-small-tablet-font-size: 24px;
$title-small-tablet-letter-spacing: 0%;
$title-small-tablet-paragraph-spacing: 0px;
$title-small-tablet-text-case: uppercase;
$title-small-tablet-text-decoration: none;
$title-small-mobile-font-family: BrownPro;
$title-small-mobile-font-weight: 700;
$title-small-mobile-line-height: 26px;
$title-small-mobile-font-size: 24px;
$title-small-mobile-letter-spacing: 0%;
$title-small-mobile-paragraph-spacing: 0px;
$title-small-mobile-text-case: uppercase;
$title-small-mobile-text-decoration: none;
$subtitle-desktop-font-family: BrownPro;
$subtitle-desktop-font-weight: 700;
$subtitle-desktop-line-height: 24px;
$subtitle-desktop-font-size: 20px;
$subtitle-desktop-letter-spacing: 0%;
$subtitle-desktop-paragraph-spacing: 0px;
$subtitle-desktop-text-case: uppercase;
$subtitle-desktop-text-decoration: none;
$subtitle-tablet-font-family: BrownPro;
$subtitle-tablet-font-weight: 700;
$subtitle-tablet-line-height: 24px;
$subtitle-tablet-font-size: 20px;
$subtitle-tablet-letter-spacing: 0%;
$subtitle-tablet-paragraph-spacing: 0px;
$subtitle-tablet-text-case: uppercase;
$subtitle-tablet-text-decoration: none;
$subtitle-mobile-font-family: BrownPro;
$subtitle-mobile-font-weight: 700;
$subtitle-mobile-line-height: 20px;
$subtitle-mobile-font-size: 18px;
$subtitle-mobile-letter-spacing: 0%;
$subtitle-mobile-paragraph-spacing: 0px;
$subtitle-mobile-text-case: uppercase;
$subtitle-mobile-text-decoration: none;
$quote-desktop-font-family: BrownPro;
$quote-desktop-font-weight: 200;
$quote-desktop-line-height: 38px;
$quote-desktop-font-size: 30px;
$quote-desktop-letter-spacing: 0%;
$quote-desktop-paragraph-spacing: 0px;
$quote-desktop-text-case: none;
$quote-desktop-text-decoration: none;
$quote-tablet-font-family: BrownPro;
$quote-tablet-font-weight: 200;
$quote-tablet-line-height: 38px;
$quote-tablet-font-size: 30px;
$quote-tablet-letter-spacing: 0%;
$quote-tablet-paragraph-spacing: 0px;
$quote-tablet-text-case: none;
$quote-tablet-text-decoration: none;
$quote-mobile-font-family: BrownPro;
$quote-mobile-font-weight: 200;
$quote-mobile-line-height: 30px;
$quote-mobile-font-size: 24px;
$quote-mobile-letter-spacing: 0%;
$quote-mobile-paragraph-spacing: 0px;
$quote-mobile-text-case: none;
$quote-mobile-text-decoration: none;
$intro-desktop-font-family: BrownPro;
$intro-desktop-font-weight: 200;
$intro-desktop-line-height: 30px;
$intro-desktop-font-size: 24px;
$intro-desktop-letter-spacing: 0%;
$intro-desktop-paragraph-spacing: 0px;
$intro-desktop-text-case: none;
$intro-desktop-text-decoration: none;
$intro-tablet-font-family: BrownPro;
$intro-tablet-font-weight: 200;
$intro-tablet-line-height: 30px;
$intro-tablet-font-size: 24px;
$intro-tablet-letter-spacing: 0%;
$intro-tablet-paragraph-spacing: 0px;
$intro-tablet-text-case: none;
$intro-tablet-text-decoration: none;
$intro-mobile-font-family: BrownPro;
$intro-mobile-font-weight: 200;
$intro-mobile-line-height: 24px;
$intro-mobile-font-size: 20px;
$intro-mobile-letter-spacing: 0%;
$intro-mobile-paragraph-spacing: 0px;
$intro-mobile-text-case: none;
$intro-mobile-text-decoration: none;
$body-1-light-font-family: BrownPro;
$body-1-light-font-weight: 200;
$body-1-light-line-height: 24px;
$body-1-light-font-size: 18px;
$body-1-light-letter-spacing: 0%;
$body-1-light-paragraph-spacing: 0px;
$body-1-light-text-case: none;
$body-1-light-text-decoration: none;
$body-1-regular-font-family: BrownPro;
$body-1-regular-font-weight: 400;
$body-1-regular-line-height: 24px;
$body-1-regular-font-size: 18px;
$body-1-regular-letter-spacing: 0%;
$body-1-regular-paragraph-spacing: 0px;
$body-1-regular-text-case: none;
$body-1-regular-text-decoration: none;
$body-1-bold-font-family: BrownPro;
$body-1-bold-font-weight: 700;
$body-1-bold-line-height: 24px;
$body-1-bold-font-size: 18px;
$body-1-bold-letter-spacing: 0%;
$body-1-bold-paragraph-spacing: 0px;
$body-1-bold-text-case: none;
$body-1-bold-text-decoration: none;
$body-1-light-italic-font-family: BrownPro;
$body-1-light-italic-font-weight: 200;
$body-1-light-italic-line-height: 24px;
$body-1-light-italic-font-size: 18px;
$body-1-light-italic-letter-spacing: 0%;
$body-1-light-italic-paragraph-spacing: 0px;
$body-1-light-italic-text-case: none;
$body-1-light-italic-text-decoration: none;
$body-1-italic-font-family: BrownPro;
$body-1-italic-font-weight: 400;
$body-1-italic-line-height: 24px;
$body-1-italic-font-size: 18px;
$body-1-italic-letter-spacing: 0%;
$body-1-italic-paragraph-spacing: 0px;
$body-1-italic-text-case: none;
$body-1-italic-text-decoration: none;
$body-1-bold-italic-font-family: BrownPro;
$body-1-bold-italic-font-weight: undefined;
$body-1-bold-italic-line-height: 24px;
$body-1-bold-italic-font-size: 18px;
$body-1-bold-italic-letter-spacing: 0%;
$body-1-bold-italic-paragraph-spacing: 0px;
$body-1-bold-italic-text-case: none;
$body-1-bold-italic-text-decoration: none;
$body-2-light-font-family: BrownPro;
$body-2-light-font-weight: 200;
$body-2-light-line-height: 22px;
$body-2-light-font-size: 16px;
$body-2-light-letter-spacing: 0%;
$body-2-light-paragraph-spacing: 0px;
$body-2-light-text-case: none;
$body-2-light-text-decoration: none;
$body-2-regular-font-family: BrownPro;
$body-2-regular-font-weight: 400;
$body-2-regular-line-height: 22px;
$body-2-regular-font-size: 16px;
$body-2-regular-letter-spacing: 0%;
$body-2-regular-paragraph-spacing: 0px;
$body-2-regular-text-case: none;
$body-2-regular-text-decoration: none;
$body-2-bold-font-family: BrownPro;
$body-2-bold-font-weight: 700;
$body-2-bold-line-height: 22px;
$body-2-bold-font-size: 16px;
$body-2-bold-letter-spacing: 0%;
$body-2-bold-paragraph-spacing: 0px;
$body-2-bold-text-case: none;
$body-2-bold-text-decoration: none;
$body-2-light-italic-font-family: BrownPro;
$body-2-light-italic-font-weight: 200;
$body-2-light-italic-line-height: 22px;
$body-2-light-italic-font-size: 16px;
$body-2-light-italic-letter-spacing: 0%;
$body-2-light-italic-paragraph-spacing: 0px;
$body-2-light-italic-text-case: none;
$body-2-light-italic-text-decoration: none;
$body-2-italic-font-family: BrownPro;
$body-2-italic-font-weight: 400;
$body-2-italic-line-height: 22px;
$body-2-italic-font-size: 16px;
$body-2-italic-letter-spacing: 0%;
$body-2-italic-paragraph-spacing: 0px;
$body-2-italic-text-case: none;
$body-2-italic-text-decoration: none;
$body-2-bold-italic-font-family: BrownPro;
$body-2-bold-italic-font-weight: undefined;
$body-2-bold-italic-line-height: 22px;
$body-2-bold-italic-font-size: 16px;
$body-2-bold-italic-letter-spacing: 0%;
$body-2-bold-italic-paragraph-spacing: 0px;
$body-2-bold-italic-text-case: none;
$body-2-bold-italic-text-decoration: none;
$caption-light-font-family: BrownPro;
$caption-light-font-weight: 200;
$caption-light-line-height: 18px;
$caption-light-font-size: 14px;
$caption-light-letter-spacing: 0%;
$caption-light-paragraph-spacing: 0px;
$caption-light-text-case: none;
$caption-light-text-decoration: none;
$caption-regular-font-family: BrownPro;
$caption-regular-font-weight: 400;
$caption-regular-line-height: 18px;
$caption-regular-font-size: 14px;
$caption-regular-letter-spacing: 0%;
$caption-regular-paragraph-spacing: 0px;
$caption-regular-text-case: none;
$caption-regular-text-decoration: none;
$caption-bold-font-family: BrownPro;
$caption-bold-font-weight: 700;
$caption-bold-line-height: 18px;
$caption-bold-font-size: 14px;
$caption-bold-letter-spacing: 0%;
$caption-bold-paragraph-spacing: 0px;
$caption-bold-text-case: none;
$caption-bold-text-decoration: none;
$caption-light-italic-font-family: BrownPro;
$caption-light-italic-font-weight: 200;
$caption-light-italic-line-height: 18px;
$caption-light-italic-font-size: 14px;
$caption-light-italic-letter-spacing: 0%;
$caption-light-italic-paragraph-spacing: 0px;
$caption-light-italic-text-case: none;
$caption-light-italic-text-decoration: none;
$caption-italic-font-family: BrownPro;
$caption-italic-font-weight: 400;
$caption-italic-line-height: 18px;
$caption-italic-font-size: 14px;
$caption-italic-letter-spacing: 0%;
$caption-italic-paragraph-spacing: 0px;
$caption-italic-text-case: none;
$caption-italic-text-decoration: none;
$caption-bold-italic-font-family: BrownPro;
$caption-bold-italic-font-weight: undefined;
$caption-bold-italic-line-height: 18px;
$caption-bold-italic-font-size: 14px;
$caption-bold-italic-letter-spacing: 0%;
$caption-bold-italic-paragraph-spacing: 0px;
$caption-bold-italic-text-case: none;
$caption-bold-italic-text-decoration: none;
$text-links-large-text-font-family: BrownPro;
$text-links-large-text-font-weight: 200;
$text-links-large-text-line-height: 30px;
$text-links-large-text-font-size: 24px;
$text-links-large-text-letter-spacing: 0%;
$text-links-large-text-paragraph-spacing: 0px;
$text-links-large-text-text-case: none;
$text-links-large-text-text-decoration: none;
$text-links-standard-text-font-family: BrownPro;
$text-links-standard-text-font-weight: 700;
$text-links-standard-text-line-height: 18px;
$text-links-standard-text-font-size: 13px;
$text-links-standard-text-letter-spacing: 0%;
$text-links-standard-text-paragraph-spacing: 0px;
$text-links-standard-text-text-case: uppercase;
$text-links-standard-text-text-decoration: none;
$text-case-uppercase: uppercase;
$text-case-none: none;
$text-decoration-none: none;
      }