.apollo-theme {
        $neutral-kohle: #2f3132;
$neutral-cemento: #697172;
$neutral-acier: #c3c6c8;
$neutral-grigio: #e1e2e3;
$neutral-marin: #f4f4f4;
$logitech-azzurro: #00B8FC;
$logitech-ciano: #00EAD0;
$logitech-kirsche: #ff2947;
$logitech-lila: #814efa;
$logitech-electrico: #Dcfd00;
$logitech-helios: #ff7f2c;
$ergo-azzurro-20: #F2FAFE;
$ergo-azzurro-100: #bee7fb;
$ergo-ciano-20: #ECFBFA;
$ergo-ciano-100: #9EEBE4;
$ergo-kirsche-20: #FEF1F2;
$ergo-kirsche-100: #FAB7BF;
$ergo-lila-20: #F8F4FF;
$ergo-lila-100: #b68eff;
$ergo-electrico-20: #FCFEEE;
$ergo-electrico-100: #eff8a9;
$ergo-helios-20: #FCEFE6;
$ergo-helios-100: #f1ae83;
$lfc-citra: #FF5000;
$lfc-cosmic: #5064FF;
$lfc-cherry: #691950;
$lfc-clay: #E6DCCD;
$font-families-brownpro: BrownPro;
$line-heights-0: 90;
$line-heights-1: 40;
$line-heights-2: 72;
$line-heights-3: 36;
$line-heights-4: 60;
$line-heights-5: 48;
$line-heights-6: 32;
$line-heights-7: 26;
$line-heights-8: 24;
$line-heights-9: 20;
$line-heights-10: 38;
$line-heights-11: 30;
$line-heights-12: 22;
$line-heights-13: 18;
$line-heights-14: 8;
$font-weights-brownpro-0: Bold;
$font-weights-brownpro-1: Light Italic;
$font-weights-brownpro-2: Light;
$font-weights-brownpro-3: Regular;
$font-weights-brownpro-4: Italic;
$font-weights-brownpro-5: Bold Italic;
$font-size-0: 13px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 20px;
$font-size-5: 24px;
$font-size-6: 30px;
$font-size-7: 36px;
$font-size-8: 40px;
$font-size-9: 48px;
$font-size-10: 60px;
$font-size-11: 72px;
$font-size-12: 90px;
$letter-spacing-0: -1%;
$letter-spacing-1: 0%;
$paragraph-spacing-0: 0;
$marquee-desktop-tablet: [object Object];
$marquee-mobile: [object Object];
$hero-large-desktop: [object Object];
$hero-large-tablet: [object Object];
$hero-large-mobile: [object Object];
$hero-medium-desktop-tablet: [object Object];
$hero-medium-mobile: [object Object];
$hero-small-desktop-tablet: [object Object];
$hero-small-mobile: [object Object];
$title-large-desktop-tablet: [object Object];
$title-large-mobile: [object Object];
$title-medium-desktop-tablet: [object Object];
$title-medium-mobile: [object Object];
$title-small-desktop-tablet: [object Object];
$title-small-mobile: [object Object];
$subtitle-desktop-tablet: [object Object];
$subtitle-mobile: [object Object];
$quote-desktop-tablet: [object Object];
$quote-mobile: [object Object];
$intro-desktop-tablet: [object Object];
$intro-mobile: [object Object];
$body-1-light: [object Object];
$body-1-regular: [object Object];
$body-1-bold: [object Object];
$body-1-light-italic: [object Object];
$body-1-italic: [object Object];
$body-1-bold-italic: [object Object];
$body-2-light: [object Object];
$body-2-regular: [object Object];
$body-2-bold: [object Object];
$body-2-light-italic: [object Object];
$body-2-italic: [object Object];
$body-2-bold-italic: [object Object];
$caption-light: [object Object];
$caption-regular: [object Object];
$caption-bold: [object Object];
$caption-light-italic: [object Object];
$caption-italic: [object Object];
$caption-bold-italic: [object Object];
$text-links-large-text: [object Object];
$text-links-standard-text: [object Object];
$text-case-uppercase: uppercase;
$text-case-none: none;
$text-decoration-none: none;
      }