.artemis-theme {
          --primary-blue: #00B8FC;
  --primary-gray: #DADADA;
  --secondary-dark-blue: #0090BF;
  --secondary-gray-1: #262626;
  --secondary-gray-2: #2F3132;
  --secondary-gray-3: #676767;
  --secondary-gray-4: #C3C6C8;
  --secondary-gray-5: #F4F4F4;
  --gradients-blue-black: linear-gradient(180deg, #00B8FC 0%, #676767 100%);
  --gradients-black-gray: linear-gradient(180deg, #000000 0%, #676767 100%);
      }