.artemis-theme {
        $Blue: #00B8FC;
$Gray: #DADADA;
$Dark-blue: #0090BF;
$1: #262626;
$2: #2F3132;
$3: #676767;
$4: #C3C6C8;
$5: #F4F4F4;
$Blue-Black: linear-gradient(180deg, #00B8FC 0%, #676767 100%);
$Black-Gray: linear-gradient(180deg, #000000 0%, #676767 100%);
      }