.artemis-theme {
        $primary-blue: #00B8FC;
$primary-gray: #DADADA;
$primary-g-black: $Neutral.Black;
$primary-g-white: $Neutral.White;
$secondary-dark-blue: #0090BF;
$secondary-gray-1: #262626;
$secondary-gray-2: #2F3132;
$secondary-gray-3: #676767;
$secondary-gray-4: #C3C6C8;
$secondary-gray-5: #F4F4F4;
$gradients-blue-black: linear-gradient(180deg, #00B8FC 0%, #676767 100%);
$gradients-black-gray: linear-gradient(180deg, #000000 0%, #676767 100%);
$action-text-primary-light: $Neutral.White;
$action-text-primary-dark: $Neutral.Black;
$action-text-buy-light: $Neutral.Black;
$action-text-buy-dark: $Neutral.Black;
$action-bg-primary-light: #2F3132;
$action-bg-primary-dark: $Neutral.White;
$action-bg-buy-light: #00B8FC;
$action-bg-buy-dark: #00B8FC;
$action-icon-stroke-color-primary-dark: $icon.stroke.color.dark;
$action-icon-stroke-color-primary-light: $icon.stroke.color.light;
$semantic-cta-text-color-light: $Neutral.White;
$semantic-cta-text-color-dark: $Neutral.Black;
$semantic-cta-icon-color-dark: $icon.stroke.color.dark;
$semantic-cta-icon-color-light: $icon.stroke.color.light;
$semantic-background-dark-1: #262626;
$semantic-background-dark-2: #2F3132;
$semantic-background-light-1: $Neutral.White;
$semantic-background-blue-1: #00B8FC;
$semantic-button-color-background-primary-dark: #2F3132;
$semantic-button-color-background-primary-light: $Neutral.White;
$semantic-button-color-background-buy-light: #00B8FC;
$semantic-button-color-background-buy-dark: #00B8FC;
$semantic-button-icon-stroke-color-primary-dark: $icon.stroke.color.light;
$semantic-button-icon-stroke-color-primary-light: $icon.stroke.color.dark;
$semantic-button-icon-stroke-color-buy-light: $icon.stroke.color.dark;
$semantic-button-icon-stroke-color-buy-dark: $icon.stroke.color.dark;
$semantic-button-text-color-primary-dark: $Neutral.White;
$semantic-button-text-color-primary-light: $Neutral.Black;
$semantic-button-text-color-buy-light: $Neutral.Black;
$semantic-button-text-color-buy-dark: $Neutral.Black;
$semantic-button-padding-left-default: 42;
$semantic-button-padding-left-compact: 20;
$semantic-button-padding-right-default: 42;
$semantic-button-padding-right-compact: 20;
$semantic-button-padding-top-default: 16;
$semantic-button-padding-top-compact: 10;
$semantic-button-padding-bottom-default: 16;
$semantic-button-padding-bottom-compact: 10;
$semantic-button-gap: 10;
$semantic-button-radius: 4;
      }