.pangea-theme {
        $neutral-black: #000;
$neutral-white: #fff;
$semantic-success: #00A300;
$semantic-warning: #E96500;
$semantic-error: #D62929;
$icon-stroke-color-dark: #000;
$icon-stroke-color-light: #fff;
$text-color-heading-dark: #000;
$text-color-heading-light: #fff;
$text-color-cta-dark: #000;
$text-color-cta-light: #fff;
$semantic-cta-text-color-light: #fff;
$semantic-cta-text-color-dark: #000;
$semantic-cta-text-color-buy: #000;
$semantic-cta-icon-color-dark: #000;
$semantic-cta-icon-color-light: #fff;
$semantic-cta-icon-color-buy: #000;
$semantic-button-color-background-primary-dark: #000;
$semantic-button-color-background-primary-light: #fff;
$semantic-button-color-background-buy-dark: #000;
$semantic-button-color-background-buy-light: #fff;
$semantic-button-icon-stroke-color-primary-dark: #fff;
$semantic-button-icon-stroke-color-primary-light: #000;
$semantic-button-icon-stroke-color-buy-dark: #fff;
$semantic-button-icon-stroke-color-buy-light: #000;
$semantic-button-text-color-primary-dark: #fff;
$semantic-button-text-color-primary-light: #000;
$semantic-button-text-color-buy-dark: #fff;
$semantic-button-text-color-buy-light: #000;
$semantic-button-padding-left-default: 30;
$semantic-button-padding-left-compact: 15;
$semantic-button-padding-right-default: 30;
$semantic-button-padding-right-compact: 15;
$semantic-button-padding-top-default: 16;
$semantic-button-padding-top-compact: 8;
$semantic-button-padding-bottom-default: 16;
$semantic-button-padding-bottom-compact: 8;
$semantic-button-gap: 13;
$semantic-button-radius: 0;
$semantic-background-dark-1: #000;
$semantic-background-light-1: #fff;
$semantic-background-white-2: #fff;
      }