.pangea-theme {
        $neutral-black: #000;
$neutral-white: #fff;
$semantic-success: #00A300;
$semantic-warning: #E96500;
$semantic-error: #D62929;
$icon-stroke-color-primary-dark: #000;
$icon-stroke-color-primary-light: #fff;
      }