.pangea-theme {
        $neutral-black: #000;
$neutral-white: #fff;
$semantic-success: #00A300;
$semantic-warning: #E96500;
$semantic-error: #D62929;
$icon-stroke-color-dark: #000;
$icon-stroke-color-light: #fff;
$text-color-heading-dark: #000;
$text-color-heading-light: #fff;
$text-color-cta-dark: #000;
$text-color-cta-light: #fff;
      }